.notFoundPage {
  padding: 24px 20px 20px;

  @media (min-width: 768px) {
    padding: 32px;
  }
}

.header {
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media (min-width: 1280px) {
    padding: 0 32px;
  }
}

.notFoundPageWrap {
  outline: 1px solid red;
  outline-offset: -1px;

  padding: 245px 33px;
  border-radius: 30px;

  background-color: var(--orange);

  @media (min-width: 768px) {
    padding: 221px 32px;
    border-radius: 60px;
  }

  @media (min-width: 1280px) {
    padding: 109px 283px;
  }
}

.notFoundPageCont {
  outline: 1px solid red;
  outline-offset: -1px;

  text-align: center;

  width: 269px;
  height: 222px;

  @media (min-width: 768px) {
    width: 640px;
    height: 436px;
  }

  @media (min-width: 1280px) {
    width: 650px;
    height: 436px;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 120px;
  line-height: 1;
  color: var(--white);

  @media (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 300px;
  }

  @media (min-width: 1280px) {
    font-size: 300px;
  }
}

.text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--white);

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media (min-width: 1280px) {
    font-size: 24px;
  }
}

.link {
}
