.btn {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  /* padding: 12px 99px; */
  background-color: var(--orange);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--white);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.btn:hover {
  background-color: #f9b020;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
