.layout {
  /* outline: 1px solid red;
  outline-offset: -1px; */

  width: 375px;
  margin: 0 auto;
  background-color: var(--background);

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1280px) {
    width: 1280px;
  }
}
