.btn {
  width: 100%;
  margin-bottom: 12px;

  border-radius: 30px;
  padding: 12px 99px;
  background-color: var(--orange);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;

  @media (min-width: 768px) {
    margin-bottom: 16px;
    padding: 16px 157px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.btn:hover {
  background-color: var(--orange-dark);
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
