.profilePage {
  height: 2766px;

  padding: 24px 20px 80px;

  @media (min-width: 768px) {
    height: 1941px;

    padding: 32px 32px 80px;
  }

  @media (min-width: 1280px) {
    height: 1468px;
    padding: 32px 64px 80px;
  }
}

.header {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 91px;
  }
}
