.header {
  display: flex;

  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 142px;
}

.authNav {
  margin-right: 16px;

  @media (min-width: 1280px) {
    margin-right: 0px;
  }
}

.userNav {
  margin-right: 16px;

  @media (min-width: 1280px) {
    margin-right: 0px;
  }
}
