.header {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 32px;

  @media (min-width: 768px) {
    height: 50px;
  }
}

.header.light {
  padding: 0;
}

.logo {
  margin-right: auto;

  @media (min-width: 1280px) {
    margin-right: 313px;
  }
}

.logo.light {
  @media (min-width: 1280px) {
    margin-right: 280px;
  }
}

.nav {
  margin-right: 142px;

  @media (min-width: 1280px) {
    margin-right: auto;
  }
}

.authNav {
  margin-right: 16px;

  @media (min-width: 1280px) {
    margin-right: 0px;
  }
}

.userNav {
  margin-right: 16px;

  @media (min-width: 1280px) {
    margin-right: 0px;
  }
}
