.loginPage {
  padding: 24px 0 20px;

  @media (min-width: 768px) {
    padding: 32px 0;
  }
}

.header {
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media (min-width: 1280px) {
    padding: 0 32px;
  }
}

.loginPageWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    gap: 16px;
  }

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 32px;
  }
}
