.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  flex-wrap: wrap;
  height: 40px;

  @media (min-width: 768px) {
    gap: 24px;
    height: 44px;
    width: fit-content;
    margin: 0 auto;
  }
}

.arrowsWrap {
  display: flex;
  gap: 6px;

  @media (min-width: 768px) {
    gap: 8px;
  }
}

.pageButtonsWrap {
  display: flex;
  gap: 10px;
}

.pageButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  transition: background-color var(--transition) var(--transition-delay);

  @media (min-width: 768px) {
    height: 44px;
    width: 44px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.pageButton:not(.active):hover {
  background-color: var(--gray);
}

.active {
  background-color: orange;
  color: var(--white);
  border: none;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: 1px solid rgba(38, 38, 38, 0.2);

  font-size: 22px;

  @media (min-width: 768px) {
    height: 44px;
    width: 44px;
    font-size: 24px;
  }
}

.arrow:disabled {
  border: 1px solid rgba(38, 38, 38, 0.05);
  cursor: default;
  color: rgba(38, 38, 38, 0.5);
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: 1px solid rgba(38, 38, 38, 0.05);

  font-weight: 500;
  line-height: 1.25;

  @media (min-width: 768px) {
    height: 44px;
    width: 44px;

    font-size: 20px;
    line-height: 1.1;
  }
}
