.searchLocationWrap {
  position: relative;
  width: 100%;
}

.searchLocationInput {
  padding: 12px;

  border: 1px solid rgba(38, 38, 38, 0.15);
  background-color: var(--white);
  outline: none;

  width: 100%;
  height: 42px;
  border-radius: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;

  transition: border-color var(--transition) var(--transition-delay);

  @media (min-width: 768px) {
    width: 100%;
    height: 48px;
    align-self: flex-end;

    padding: 14px;

    font-size: 16px;
    line-height: 1.25;
  }
}

.searchFieldInput:focus,
.searchFieldInput:hover {
  border-color: var(--orange);
}

.searchFieldInput::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

.searchBtn {
}

.iconSearch {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 18px;
  height: 18px;

  stroke: var(--dark);

  @media (min-width: 768px) {
    top: 15px;
    right: 15px;
  }
}

.iconCross {
  position: absolute;
  top: 12px;
  right: 36px;

  width: 18px;
  height: 18px;

  stroke: var(--dark);

  @media (min-width: 768px) {
    top: 15px;
  }
}
