.noticesFilters {
  /* outline: 1px solid red;
  outline-offset: -1px; */

  width: 100%;
  height: 378px;
  margin-bottom: 40px;
  border-radius: 30px;

  padding: 20px;

  background-color: var(--ligth);

  @media (min-width: 768px) {
    height: 280px;
    padding: 40px 32px;
    margin-bottom: 32px;
  }

  @media (min-width: 1280px) {
    height: 216px;
    padding: 40px;
    margin-bottom: 40px;
  }
}

.filtersWrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 8px;

  @media (min-width: 768px) {
    row-gap: 16px;
    column-gap: 16px;
  }
}

.searchFieldWrap {
  width: 295px;

  @media (min-width: 768px) {
    width: 265px;
  }
}

.searchFieldWrap input {
  border-color: var(--white);
  /* color: var(--dark); */
}

.searchFieldWrap input::placeholder {
  color: var(--dark);
}

.searchFieldWrap > input {
  background-color: var(--white);
}

.categoryWrap {
  width: 143px;

  @media (min-width: 768px) {
    width: 170px;
  }

  @media (min-width: 1280px) {
    width: 200px;
  }
}

.sexWrap {
  width: 144px;

  @media (min-width: 768px) {
    width: 170px;
  }

  @media (min-width: 1280px) {
    width: 190px;
  }
}

.speciesWrap {
  width: 295px;

  @media (min-width: 768px) {
    width: 190px;
  }
}

.locationWrap {
  width: 295px;

  @media (min-width: 768px) {
    width: 227px;
  }
}
